@import './spacing';
@import './palette';
@import './navbar';
@import './footer';
@import './text';
@import './sidebar';
@import './filter';
@import './dining';

/**
 * General styling for the whole application
 */

#app {
  background: $snow;
  padding: 1rem;

  // Ensure the height of the app is at least the height of the screen
  min-height: calc(100vh - 50px);

  .card {
    border: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    background: white;
    border-radius: 0.4rem;
    opacity: 1;
  }
}

.btn {
  color: $medium-gray;
  padding: 0.6rem 1rem;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background: white;
  border-radius: 0.4rem;
  opacity: 1;
  outline: $medium-gray !important;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:focus,
  &:active {
    background: #F8F8F8;
    outline: $medium-gray !important;
  }
}

.hover {
  cursor: hand;
  cursor: pointer;
}

.display-none {
  display: none !important;
}
