@import './spacing';
@import './palette';
@import './text';
@import './sidebar';
@import './dining';
@import './spinner';

//General styling for the whole application

#app {
  background: $snow;

  // Ensure the height of the app is at least the height of the screen
  min-height: calc(100vh - 56px);

  .card {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background: white;
    opacity: 1;

    &.pad {
      padding: 1rem;
    }

    &.marg {
      margin-bottom: 1.5rem;
    }
  }
}

.btn {
  color: $medium-gray;
  font-weight: bold;
  padding: 0.6rem 1rem;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: white;
  border-radius: 0.4rem;
  opacity: 1;
  outline: $medium-gray !important;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:active,
  &:focus {
    background: #f8f8f8;
    outline: $medium-gray !important;
  }
}

.marg-bot-1 {
  margin-bottom: 1rem;
}

.hover {
  cursor: hand;
  cursor: pointer;
}

.display-none {
  display: none !important;
}
