//Styling for dining components

.diningQuery {
  margin-top: 0.6rem;

  p {
    display: inline-block;
    width: auto;
    font-weight: bold;
    margin-top: 0.4rem;
  }

  .select {
    margin-left: 1rem;

    &::after {
      border-top-style: initial;
      border-top-width: 0px;
      border-right-color: initial;
      border-right-style: initial;
      border-right-width: 0px;
      border-bottom-color: $light-gray;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-left-color: $light-gray;
      border-left-style: solid;
      border-left-width: 2px;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
    }

    &:hover,
    &:active,
    &:focus {
      &::after {
        border-bottom-color: $medium-gray;
        border-left-color: $medium-gray;
      }
    }

    select.dropdown {
      min-width: 20vw;
      display: inline-block;
      background: $white;
      border-radius: 0.4rem;
      border: 1px solid rgba(0, 0, 0, 0.075);
      font-weight: bold;
      cursor: hand;
      cursor: pointer;
      box-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.025);
      transition: all 0.2s ease;

      &:hover {
        box-shadow: 0rem 0.15rem 0.2rem rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.overview {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.025);
  background: #FFF;
  border-radius: 0.4rem;
  border: 1px solid $allbirds-gray;
  padding: 1rem;
}

.menu {
  margin-top: 1.2rem;
  margin-right: 0rem;
  margin-left: 0rem;
  width: 100%;
}

@media screen and (min-device-width: 1024px) and (min-width: 548px) {
  .menu {
    -moz-column-count: 2;
    -moz-column-gap: 0%;
    -moz-column-width: 50%;
    -webkit-column-count:2;
    -webkit-column-gap: 0%;
    -webkit-column-width: 50%;
    column-count: 2;
    column-gap: 0%;
    column-width: 50%;
  }
}

.menuSectionWrapper {
  padding-bottom: 1rem;
  display: inline-block;
  width: 100%;

  .menuSection {
    padding: 1rem 1rem 0.2rem 1rem;
    width: 100%;

    h3.title {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: $light-gray;
    }

    .menuItem {
      margin-bottom: 1rem;

      .title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.4rem;
        margin-right: 0.3rem;
        width: auto;
        display: inline-block;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

.description {
  font-size: 0.8rem;
  color: $medium-gray;

  &::first-letter {
    text-transform: uppercase;
  }
}

.tag {
  opacity: 0.7;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  color: #FFF !important;
  background: $light-gray !important;

  &.vegetarian {
    background: $vegetarian !important;
  }

  &.gluten-free {
    background: $gluten-free !important;
  }

  &.humane {
    background: $humane !important;
  }

  &.seafood-watch {
    background: $seafood-watch !important;
  }

  &.vegan {
    background: $vegan !important;
  }

  &.balanced {
    background: $balanced !important;
  }

  &.farm-to-fork {
    background: $farm-to-fork !important;
  }

  &.jain {
    background: $jain !important;
  }

  &.local {
    background: $local !important;
  }

  &:hover {
    opacity: 1;
  }
}

.legend {
  padding-top: 1rem;
  font-size: 0.8rem;
  color: $medium-gray;

  strong {
    display: block;
    font-size: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .legend-item {
    .tag {
      margin-bottom: 0.4rem;
      opacity: 1;
    }
    padding: 0rem 0rem 1.2rem 0rem;
  }
}

.hoursWrapper {
  padding-top: 1rem;
  padding-left: 3.2rem;

  .hours {
    width: 100%;
    display: flex;

    .hour {
      flex: 1;
      font-size: 0.8rem;
      color: $medium-gray;
    }
  }
}

.hoursVisualization {
  display: flex;
  width: 100%;

  .days {
    .day {
      height: 1.8rem;
      border: 1px solid transparent;
      width: 3.2rem;
      overflow: hidden !important;
      color: $medium-gray;
      padding: 0.3rem 0.6rem;
      font-size: 0.8rem;
      text-align: right;
    }
  }

  .grid {
    flex: 1;
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    .hoursRow {
      height: 1.8rem;
      display: flex;

      .hoursCol {
        flex: 1;
        border-width: 1px 0px 0px 1px;
        border-style: solid;
        border-color: $light-gray;

        // Open during full hour
        &.open {
          background: $light-blue;

          &:hover {
            background: $light-blue-hover;
          }
        }

        // Open during later half hour
        &.open-right {
          background: white;
          background: -webkit-linear-gradient(left, white 50%, $light-blue 50%);
          background: -o-linear-gradient(right, white 50%, $light-blue 50%);
          background: -moz-linear-gradient(right, white 50%, $light-blue 50%);
          background: linear-gradient(to right, white 50%, $light-blue 50%);

          &:hover {
            background: -webkit-linear-gradient(left, white 50%, $light-blue-hover 50%);
            background: -o-linear-gradient(right, white 50%, $light-blue-hover 50%);
            background: -moz-linear-gradient(right, white 50%, $light-blue-hover 50%);
            background: linear-gradient(to right, white 50%, $light-blue-hover 50%);
          }
        }

        // OPen during earlier half hour
        &.open-left {
          background: white;
          background: -webkit-linear-gradient(left, $light-blue 50%, white 50%);
          background: -o-linear-gradient(right, $light-blue 50%, white 50%);
          background: -moz-linear-gradient(right, $light-blue 50%, white 50%);
          background: linear-gradient(to right, $light-blue 50%, white 50%);

          &:hover {
            background: -webkit-linear-gradient(left, $light-blue-hover 50%, white 50%);
            background: -o-linear-gradient(right, $light-blue-hover 50%, white 50%);
            background: -moz-linear-gradient(right, $light-blue-hover 50%, white 50%);
            background: linear-gradient(to right, $light-blue-hover 50%, white 50%);
          }
        }
      }
    }
  }
}

.dining-venue-preview {
  color: white;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  font-weight: bold !important;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .gradient {
    padding: 8rem 1rem 1rem 1rem;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.5));
    background: -o-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.5));
    background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.5));
    border-radius: 0.4rem;
  }
}
