/**
 * Styling for dining components
 */

.diningQuery {
  margin-top: 0.6rem;

  p {
    display: inline-block;
    width: auto;
    font-weight: bold;
    margin-top: 0.6rem;
  }

  .dropdown {
    min-width: 20vw;
    display: inline-block;
    background: white;
    border-radius: 0.4rem;
    margin-left: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.075);
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
    box-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.025);
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0rem 0.15rem 0.2rem rgba(0, 0, 0, 0.05);
    }

    p {
      margin: 0;
      padding: 0.6rem 2.6rem 0.6rem 0.8rem;

      .fa {
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
      }
    }

    ul {
      display: none;
      border-top: 1px solid $focus-gray;
      padding: 0.6rem 0rem;

      &.active {
        display: block;
      }

      li {
        padding: 0.2rem 2.6rem 0.2rem 0.8rem;
        color: $medium-gray;

        &:hover {
          background: $hover-gray;
          color: $dark-gray;
        }

        &:focus,
        &:active {
          background: $focus-gray;
          color: $dark-gray;
        }
      }
    }
  }
}
