.filter {
  padding-bottom: 2rem;

  #filterContent {
    padding: 0rem 1rem;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.4s ease;

    &.active {
      max-height: 50vh;
    }
  }

  h2 {
    color: $light-gray;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  li {
    font-size: 1rem;
  }

  .filterToggleWrapper {
    cursor: hand;
    cursor: pointer;
    text-align: right;
    width: 100%;

    .filterToggle {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.2rem;
      display: inline-block;
      color: $light-gray;

      &:hover {
        color: $medium-gray;
      }
    }
  }

  .checkWrapper {
    cursor: hand;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    p {
      flex: 1;
      color: $light-gray;
    }

    .check {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5rem;
      background: transparent;
      border: 2px solid $allbirds-gray;

      &.active {
        background: $green !important;
      }
    }

    &:hover {
      .check {
        background: $allbirds-gray;
        border: 2px solid $light-gray;
      }

      p {
        color: $medium-gray;
      }
    }
  }
}
