/**
 * FOOTER
 */

footer {
  border-top: 1px solid $allbirds-gray;
  padding: 1rem 1rem 2rem 1rem;
  background: $snow;

  .container {
    display: flex;

    .footer-nav,
    .text {
      flex: 1;
    }

    a h1 {
      font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      color: $dark-gray;
      display: inline-block;

      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }

    h3 {
      color: $medium-gray;
      font-weight: bold;
      margin-top: 0.4rem;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    ul {
      li {
        a {
          color: $light-gray;

          &:hover,
          &:focus,
          &:active {
            color: $medium-gray;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 582px) {
  footer .container {
    display: block;
  }
}

@media screen and (max-device-width: 582px) {
  footer .container {
    display: block;
  }
}
