@import "./node_modules/bulma/sass/utilities/initial-variables";

$blue: #6190E8;
$green: #5BD3B8;
$primary: $green;
$danger: #F2BE64;
$success: #EAEAEA;

.spacer {
  height: 30px;
  width: 100vw;
}
.whiteCard {
  background-color: white !important;
  text-align: center;
  padding: 30px;
}
.subtitle {
  color: 737373 !important;
}
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spacer-20 {
  width: 20px;
  height: 10px;
}

.tag {
  margin: 5px !important;
}

.link {
  text-decoration: none !important;
}
