// Styling for the navbar which appears at the top of every page

.navbar {
  padding: 0rem 0.5rem;
  border-bottom: 1px solid $allbirds-gray;
  display: flex;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

  .logo{
    img {
      display: inline-block;
      height: 3.4rem;
      padding: 0.4rem 0rem 0.4rem 0.5rem;
      width: auto;
      position: absolute;
      top: 0;
    }

    h1 {
      font-weight: bold;
      font-size: 1.4rem;
      padding: 0.7rem 0.5rem 0.7rem 3.2rem;
      color: $dark-gray;

      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }
  }

  ul {
    flex: 1;
    text-align: right;
    padding: 0rem 0.5rem;

    li {
      display: inline-block;
      padding: 1rem 0.5rem;

      a {
        color: $light-gray;

        &:hover,
        &:focus,
        &:active {
          color: $medium-gray;
        }
      }
    }
  }

  #sidebar-toggle {
    display: none;
    margin: 1rem;
    width: 2rem;
    cursor: hand;
    cursor: pointer;

    .bar {
      width: 100%;
      height: 2px;
      background: $light-gray;
    }

    .bar + .bar {
      margin-top: calc(0.7rem - 2px);
    }

    &:hover {
      .bar {
        background: $medium-gray;
      }
    }
  }
}

// Display the sidebar toggle only on smaller screens
@media screen and (max-width: 764px) {
  .navbar {
    display: block;
    padding: 0rem;

    #sidebar-toggle {
      display: inline-block;
    }

    h1 {
      position: absolute;
      top: 0;
      display: inline-block;
    }

    ul {
      width: 100%;
      background: $hover-gray;
      flex: none;
      width: 100%;
      text-align: left;
      border-top: 1px solid rgba(0, 0, 0, 0.075);

      li {
        padding: 0.25rem 0.5rem;
      }
    }

    .navbar-wrapper {
      min-height: 56.38px;
    }
  }
}

@media screen and (max-device-width: 764px) {
  .navbar {
    display: block;
    padding: 0rem;

    #sidebar-toggle {
      display: inline-block;
    }

    h1 {
      position: absolute;
      top: 0;
      display: inline-block;
    }

    ul {
      width: 100%;
      background: $hover-gray;
      flex: none;
      width: 100%;
      text-align: left;
      border-top: 1px solid rgba(0, 0, 0, 0.075);

      li {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
