//COLOR PALETTE

// Primary colors
$blue: #2980B9;
$light-blue: #C6E8FF;
$light-blue-hover: #A3D9FF;
$dark-blue: #172B4D;
$snow: #FAFCFF;

// Secondary colors
$red: #DF5D56;
$green: #76BF96;
$gold: #FFC107;
$purple: #6274F1;
$forest: #238A50;
$brown: #BF8E41;

// Neutrals
$black: #000000;
$dark-gray: #4A4A4A;
$medium-gray: #737373;
$light-gray: #B2B2B2;
$allbirds-gray: #EAEAEA;
$focus-gray: #F0F0F0;
$hover-gray: #F8F8F8;
$white: #FFFFFF;

// Tags
$vegan: #3D9857;
$humane: #FF9E41;
$gluten-free: #F1BD54;
$farm-to-fork: #C08853;
$balanced: #9976C0;
$seafood-watch: #60CDEB;
$local: #F28166;
$vegetarian: #A4BA50;
$jain: #7180D8;
