// GENERAL SPACER CLASSES

.space-0,
.space-1,
.space-2,
.space-3,
.space-4 {
  width: 100%;
  display: block;
  position: relative;
}

.space-0 {
  height: 0rem;
}

.space-1 {
  height: 1rem;
}

.space-2 {
  height: 2rem;
}

.space-3 {
  height: 3rem;
}

.space-4 {
  height: 4rem;
}

// GENERAL MARGIN CLASSES

.marg-top-0 {
  margin-top: 0rem;
}

.marg-top-05 {
  margin-top: 0.5rem;
}

.marg-top-1 {
  margin-top: 1rem;
}

.marg-top-2 {
  margin-top: 2rem;
}

.marg-bot-0 {
  margin-bottom: 0rem;
}

.marg-bot-05 {
  margin-bottom: 0.5rem;
}

.marg-bot-1 {
  margin-bottom: 1rem;
}

.marg-bot-2 {
  margin-bottom: 2rem;
}

// GENERAL PADDING CLASSES

.pad-0 {
  padding: 0rem;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}
