/**
 * TEXT STYLING
 */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.light-gray-text {
  color: $light-gray;

  a {
    color: $light-gray;

    &:hover {
      text-decoration: underline;
    }
  }
}

.medium-gray-text {
  color: $medium-gray;
}
