// Primary colors
$blue: #2980b9;
$light-blue: #c6e8ff;
$light-blue-hover: #a3d9ff;
$dark-blue: #172b4d;
$snow: #fafcff;

// Secondary colors
$red: #df5d56;
$green: #76bf96;
$gold: #ffc107;
$purple: #6274f1;
$forest: #238a50;
$brown: #bf8e41;

// Neutrals
$black: #000000;
$dark-gray: #4a4a4a;
$medium-gray: #737373;
$light-gray: #b2b2b2;
$allbirds-gray: #eaeaea;
$focus-gray: #f0f0f0;
$hover-gray: #f8f8f8;
$white: #ffffff;

// Tags
$vegan: #3d9857;
$humane: #ff9e41;
$gluten-free: #f1bd54;
$farm-to-fork: #c08853;
$balanced: #9976c0;
$seafood-watch: #60cdeb;
$local: #f28166;
$vegetarian: #a4ba50;
$jain: #7180d8;
